{%macro copyRight()%}
 <div class="flex justify-center bg-black gap-4 text-brown-holder py-3">
        جميع الحقوق محفوظة  2024
        <img class="w-6 h-6" src="/icons/CopyRight.png">
    </div>
{%endmacro%}