  <!-- header -->
    <div class="flex justify-center bg-black gap-4 text-white py-3">
        شحن مجاني على المنتجات اكثر من 500 جنيه      
          <img class="w-6 h-6" src="/icons/motor.png">
    </div>
    <div class="w-full flex justify-center bg-wheate" dir="rtl">
        <div class="w-9/12 flex justify-between items-center ">
            <!-- icon -->
            <img class="w-16 h-16" src="/icons/header1.png">
            <!-- icon -->
            <!-- search -->
            <div class="flex w-64 px-2 h-10 items-center bg-white rounded-lg">
                <input type="text" class="flex-1 outline-none" placeholder="ابحث عما تريد">
                <img class="w-4 h-4" src="/icons/search.png">
            </div>
            <!-- search -->

            <!-- links -->
            <div class="flex gap-4 justify-between">
                <a class=" font-semibold text-base ">الرئيسية</a>
                <a class=" font-semibold text-base text-gray-500">المنتجات</a>
                <a class=" font-semibold text-base text-gray-500">قائمة منسدلة</a>
                <a class=" font-semibold text-base text-gray-500">صفحة</a>
            </div>
            <!-- links -->
            <!-- conection us -->
            <div class="flex justify-between items-center gap-8">
                <a class=" bg-white px-2 py-1 rounded-lg border-gray-200 border">تواصل معنا</a>
                <img class="w-8 h-8" src="/icons/basket.header.png">

            </div>
            <!-- conection us -->

        </div>
    </div>
    <!-- header -->