  <!-- header -->
    <div class="flex justify-center bg-black gap-4 text-white py-3">
        شحن مجاني على المنتجات اكثر من 500 جنيه      
          <img class="w-6 h-6" src="/icons/motor.png">
    </div>
    <div class="w-full flex justify-center bg-wheate" dir="rtl">
        <div class="lg:w-9/12 w-full flex justify-between items-center ">
            <!-- icon -->
            <img class="w-16 h-16" src="/icons/header1.png">
            <!-- icon -->
            <!-- search -->
            <div class="flex w-64 px-2 h-10 items-center bg-white rounded-lg">
                <input type="text" class="flex-1 outline-none" placeholder="ابحث عما تريد">
                <img class="w-4 h-4" src="/icons/search.png">
            </div>
            <!-- search -->

            <!-- links -->
            <div class="hidden md:flex gap-4 justify-between">
                <a href="/" class=" font-semibold text-base ">الرئيسية</a>
                <a href="/products" class=" font-semibold text-base text-gray-500">المنتجات</a>
                <a href="/products" class=" font-semibold text-base text-gray-500">قائمة منسدلة</a>
                <a href="/products" class=" font-semibold text-base text-gray-500">صفحة</a>
            </div>
            <!-- links -->
            <!-- conection us -->
            <div class="hidden md:flex  justify-between items-center lg:gap-8 gap-2">
                <a class=" bg-white px-2 py-1 rounded-lg border-gray-200 border">تواصل معنا</a>
                <img class="w-8 h-8" src="/icons/basket.header.png">

            </div>
            <!-- conection us -->
              <div class="flex md:hidden  item-center justify-center mx-2">
                 <svg width="24" height="24" viewBox="0 0 " onclick="toggleMenu()" fill="black" 
                    class=" text-black mx-2" xmlns="http://www.w3.org/2000/svg">
                        <rect y="4" width="20" height="2" fill="black"/>
                        <rect y="11" width="20" height="2" fill="black"/>
                        <rect y="18" width="20" height="2" fill="black"/>
                    </svg>
                </div>
        </div>
        <div class="md:hidden lg:hidden   bg-wheate fixed shadow  md:top-28 sm:top-28 xs:top-28 top-28 -left-52 transition-all duration-300 h-full z-999 w-52  " id="menu"  style="z-index: 999999999;">
    <div class="mt-2 hover:bg-yellow-400 hover:text-white mt-2 px-5"><a class="text-center" href="/">الرئيسية</a></div>
    <div class="mt-2 hover:bg-yellow-400 hover:text-white mt-2 px-5"><a class="text-center" href="/products">المنتجات</a></div>
    <div class="mt-2 hover:bg-yellow-400 hover:text-white my-2 px-5"><a class="text-center" href="/products">قائمة منسدلة</a></div>
    <div class="mt-2 hover:bg-yellow-400 hover:text-white my-2 px-5"><a class="text-center" href="/products">صفحة</a></div>
</div>
    </div>
    
    <!-- header -->
    <script>
       function toggleMenu() {
    var menu = document.getElementById("menu");
    menu.classList.toggle("active");
}
</script>