{% extends "layouts/layout.njk" %}
{% from "common/components/product.njk" import product %}
{% block title %}متجرك - الصفحة الرئيسية{% endblock %}
{% block content %}
  <div class=" h-screen flex justify-center items-center">
        <img class="w-5/12" src="/icons/first.png">
    </div>
{% endblock %}

