{% extends "layouts/layout.njk" %}
{% from "common/copyRight.njk" import copyRight %}
{% from "common/components/product/productImgs.njk" import productImages %}
{% from "common/components/product/productPrice.njk" import productPrice %}
{% from "common/components/product/Color.njk" import Colors %}
{% from "common/components/aboutUs.njk" import aboutUs %}
{% from "common/components/card.njk" import Card %}
{% from "common/components/opinionsCard.njk" import opinionCard %}
{% from "common/footer.njk" import footer %}
{% from "common/components/product/aboutProduct/productMaterial.njk" import ProductMaterial %}
{% from "common/components/product/aboutProduct/productSize.njk" import productSize %}
{% from "common/components/product/aboutProduct/productDressing.njk" import productDressing %}
{% from "common/components/product/aboutProduct/productQuantity.njk" import productQuantity %}
{% from "common/components/product/offerProduct/offerDetails.njk" import offerDetails,otherOfferTitle %}
{% from "common/components/product/dliveryDetails/dliveryTime.njk" import dliveryTime %}
{% from "common/components/product/dliveryDetails/dliveryFeatures.njk" import dliveryFeatures %}
{% block title %}متجرك - الصفحة الرئيسية{% endblock %}

{% block content %}
   

 
     <div class=" flex justify-center" dir="rtl">
        <div class=" xl:w-9/12 w-11/12">

            <!-- choosen product -->
            <div class="flex xl:flex-row flex-col mt-14 gap-4 justify-center  xl:justify-between">
                <div class="xl:w-5/12 relative">
                
                    {{productImages(images=product.images)}}
                </div>

                <div class="xl:w-7/12">
                    <!-- about price -->
                    {{productPrice(type=product.title,name=product.slug,price=product.price)}}
                    {# <div class="flex w-full">
                        <div class="w-1/2">
                            <div class="flex gap-2">
                                <span class="text-brown-holder text-lg">ملابس رجالي</span>
                                <span
                                    class="bg-whiteYellow py-0 flex items-center px-2 text-sm font-semibold rounded-full">12
                                    Left!</span>
                            </div>
                            <div class=" font-semibold text-2xl my-1"> طويل</div>
                            <div class="font-semibold text-2xl">450 ج.م</div>
                        </div>

                        <div class="w-1/2 flex justify-end">
                            <button class="btn-makeorder w-8/12 h-10 flex justify-center gap-2 items-center mt-2">
                                <img class="w-4 h-4" src="./assets/icons/cart.png">
                                شراء الآن
                            </button>
                        </div>
                    </div> #}
                    <!-- about price -->

                    <!-- about product -->
                    <div class="about-product my-5 flex justify-between">
                        <!-- size -->
                        <div class="w-6/12">
                          {{ProductMaterial(material=product.category.title)}}
                            <!-- choose size -->
                           {{productSize()}}
                            <!-- choose size -->

                           {{productQuantity()}}
                        </div>

                        <!-- size -->

                        <!-- color -->
                        <div class="w-5/12">
                           {{productDressing(type=product.category.description)}}
                            <div class="mt-4">
                                <!-- choose color -->
                                {{Colors()}}
                                <!-- choose color -->
                            </div>
                        </div>
                        <!-- color -->

                    </div>
                    <!-- about product -->

                    <!-- offer -->
                    <div>
                        <div class=" text-lg font-semibold text-center my-4">عروض التوفير</div>
                        <!-- first offer -->
                        <div class="offer lg:h-48">
                            <div class="flex justify-between">
                         {{offerDetails(offerIs="اشتري قطعة بسعر 480 ج.م",oldPreice="480.00",currentPrice="50.00")}}
                            </div>
                            <div class=" text-lg text-brown-holder my-3  font-semibold">اختر اللون والمقاس</div>
                            <div class="flex justify-between">
                                <!-- choose size/color -->
                                <div class=" flex  md:flex-row flex-col justify-center  md:justify-between w-full gap-4">
                                    <!-- size -->
                                    {{productSize()}}
                                    <!-- size -->
                                    <!-- color -->
                                    <div class=" w-6/12">
                                       {{Colors()}}
                                    </div>
                                </div>
                                <!-- choose size/color -->


                            </div>


                        </div>
                        <!-- first offer -->

                        <!-- second offer -->
                        <div class="mt-5">
                            <div class=" border border-gray rounded-lg">
                                <div class="w-1/3 rounded-xl">
                                    {{otherOfferTitle(price="450")}}
                                </div>

                                <!-- offer option -->
                                <div class="p-4">
                                    <div class="flex justify-between">
                             {{offerDetails(offerIs="اشتري قطعة بسعر 480 ج.م",oldPreice="480.00",currentPrice="50.00")}}

                                    </div>
                                </div>
                                <!-- offer option -->

                            </div>
                        </div>
                        <!-- second offer -->

                        <!-- third offer -->
                        <div class="mt-5">
                            <div class=" border border-gray rounded-lg">
                                <div class="w-1/3 rounded-xl">
                                    {{otherOfferTitle(price="450")}}
                                </div>

                                <!-- offer option -->
                                <div class="p-4">
                                    <div class="flex justify-between">
                                  {{offerDetails(offerIs="اشتري قطعة بسعر 480 ج.م",oldPreice="480.00",currentPrice="50.00")}}

                                    </div>
                                </div>
                                <!-- offer option -->

                            </div>
                        </div>
                        <!-- third offer -->
                    </div>
                    <!-- offer -->

                    <!-- dlivery details -->
                    <div class="mt-5 list-brown-holder-marker ">
                        <div class=" border border-gray   rounded-lg p-4 ">
                            <div class=" text-xl font-semibold">معلومات الشحن</div>
                            <div class=" mt-4 mx-1">
                                <ul class=" list-disc list-inside">
                                  {{dliveryTime()}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- dlivery details -->

                    <!-- features details -->
                    <div class="mt-5 list-brown-holder-marker ">
                        <div class=" border border-gray rounded-lg p-4 ">
                            <div class=" text-xl font-semibold">معلومات الشحن</div>
                            <div class=" mt-4 mx-1">
                                <ul class=" list-disc list-inside">
                                  {{dliveryFeatures()}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- features details -->

                </div>

            </div>
            <!-- choosen product -->

            <!-- more products -->
            <div class="w-full">
                <div class="flex w-full justify-between  mt-20">

                    <div class="">
                        <div class=" text-xl font-semibold">منتجات مشابهة</div>
                        <div class="text-brown-holder">تسوق احدث المنتجات المميزة المضافة جديد</div>
                    </div>


                    <div class="flex  gap-2">
                        <a class="border-gold  border p-2 rounded-lg h-max flex items-center">
                            <span class="text-gold">عرض الكل</span>
                            <img src="/icons/arrow.png" class="  w-2 h-3 mx-1">
                        </a>
                    </div>
                </div>

                <div class="grid 2xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2  grid-cols-1  gap-6 mt-5">
                   
                   {# {%for item in products%} #}
                   {{Card(title=product.title,name=product.subCategory.title,size="3xl",currentPrice=product.price,oldPrice=product.priceAfterDiscount)}}
                   {# {%endfor%} #}
           
                   {# {%for item in product%}
                   {{Card(title=product.title,name=product.subCategory.title,
                   size="3xl",currentPrice=product.price,
                   oldPrice=product.priceAfterDiscount,
                   imageUrl=item.images[0].imageUrl,slug=item.slug)}}
                   {%endfor%} #}
             
                </div>
            </div>

            <!-- more products -->

            <!-- qestions -->
            <div class="mt-20 w-full">
                <div>
                    <div class=" text-2xl font-bold">الاسئلة الاكثر شيوعا</div>
                    <div class="text-brown-holder">تسوق احدث المنتجات المميزة المضافة جديد</div>
                </div>
                <div class=" flex lg:flex-row flex-col justify-center  xl:justify-between mt-8 gap-10">
                    <div class="xl:w-6/12 rounded-lg custom-shadow bg-whiteYellow1">
                        <div class="flex  justify-around items-center  ">
                            <div class=" text-2xl font-bold p-6 ">كم الوقت الذي تأخده عملية الشحن</div>
                            <img class="w-5 h-5 text-gold" src="/icons/arrowDown.png">
                        </div>
                        <div class=" p-4">عادةً ما تستغرق عملية الشحن من 3 إلى 5 أيام عمل داخل الدولة. قد تختلف مدة
                            الشحن حسب موقعك الجغرافي وخيارات الشحن المتاحة. نحن نسعى جاهدين لتسليم طلباتكم في أسرع وقت
                            ممكن، ونوفر معلومات التتبع لتتبع الشحنة حتى وصولها.</div>
                    </div>

                    <div
                        class="xl:w-6/12 h-max flex rounded-lg custom-shadow justify-around items-center bg-whiteYellow1 ">
                        <div class=" text-2xl font-bold p-6 ">كم الوقت الذي تأخده عملية الشحن</div>
                        <img class="w-5 h-5 text-gold" src="/icons/arrowDown.png">
                    </div>

                </div>
            </div>
            <!-- qestions -->

            <!-- about -->
             
            <div class="mt-20 w-full">
              {{aboutUs()}}
            </div>
            <!-- about -->
            <!-- opinions -->
            <div class=" mt-20 w-full">
                <div>
                    <div class=" text-2xl font-bold">رأي العملاء</div>
                    <div class="text-brown-holder">بعض آراء المستخدمين والعملاء الخاصين بنا</div>
                </div>

                <div class=" xl:h-96 relative mt-5">

                    <div
                        class="swiper swipperOpinion swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl rounded-md">
                        <div class="swiper-wrapper"
                            style="transform: translate3d(477px, 0px, 0px); transition-duration: 0ms;">
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                data-swiper-slide-index="0" style="width: 472px; margin-left: 5px;">
                               <div class=" grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2  grid-cols-1 gap-6">
                                <div class=" border border-gray rounded-md p-4">
                                    <div class=" font-semibold mb-2">محمد على</div>
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FFD400"
                                            aria-hidden="true" class="text-gray-300 h-4 w-4 flex-shrink-0">
                                            <path fill-rule="evenodd"
                                                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FFD400"
                                            aria-hidden="true" class="text-gray-300 h-4 w-4 flex-shrink-0">
                                            <path fill-rule="evenodd"
                                                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FFD400"
                                            aria-hidden="true" class="text-gray-300 h-4 w-4 flex-shrink-0">
                                            <path fill-rule="evenodd"
                                                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FFD400"
                                            aria-hidden="true" class="text-gray-300 h-4 w-4 flex-shrink-0">
                                            <path fill-rule="evenodd"
                                                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#d1d5db"
                                            aria-hidden="true" class="text-gray-300 h-4 w-4 flex-shrink-0">
                                            <path fill-rule="evenodd"
                                                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#d1d5db"
                                            aria-hidden="true" class="text-gray-300 h-4 w-4 flex-shrink-0">
                                            <path fill-rule="evenodd"
                                                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                                clip-rule="evenodd"></path>
                                        </svg>

                                    </div>
                                    <div class=" text-brown-holder mt-2">تجربتي مع هذا المتجر كانت رائعة. الملابس ذات جودة عالية والأسعار مناسبة. أحببت حقًا مجموعة الملابس الكاجوال والرسمي. خدمة العملاء أيضًا كانت ممتازة، وسرعة الشحن فاقت توقعاتي. سأكون عميلًا دائمًا بالتأكيد! </div>
                                </div>
                              
                               </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                data-swiper-slide-index="0" style="width: 472px; margin-left: 5px;">
                               <div class=" grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2  grid-cols-1 gap-6">
                               {# {%for item in opinions%}
                               {%endfor%} #}
                               {{opinionCard(name="محمد علي ",rating="5",message="تجربتي مع هذا المتجر كانت رائعة. الملابس ذات جودة عالية والأسعار مناسبة. أحببت حقًا مجموعة الملابس الكاجوال والرسمي. خدمة العملاء أيضًا كانت ممتازة، وسرعة الشحن فاقت توقعاتي. سأكون عميلًا دائمًا بالتأكيد! ")}}
                            
                               </div>
                            </div>
                        </div>
                        <!-- <div
                            class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                            <span
                                class="swiper-pagination-bullet transition-all duration-300 ease-in-out !bg-black swiper-pagination-bullet-active !w-6 !opacity-100 !rounded-full"></span>
                            <span
                                class="swiper-pagination-bullet transition-all duration-300 ease-in-out !bg-black"></span>
                            <span
                                class="swiper-pagination-bullet transition-all duration-300 ease-in-out !bg-black"></span>
                        </div> -->
                        <!-- أزرار التحكم -->
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>


                </div>

            </div>
            <!-- opinions -->


            <!-- footer -->
          {{footer()}}
            <!-- footer -->



        </div>
        
    </div>

{{copyRight()}}

 
 {% endblock %}