{%macro AboutProducts()%}
  <div class="flex lg:flex-row flex-col justify-center  lg:justify-around border border-gray py-8">
                    <div class="flex items-center  border-gray p-4 gap-2">
                        <img class="w-10 h-10" src="/icons/car.png">
                        <div>
                            <div class=" font-bold">منتجات مضمونه</div>
                            <div class="text-brown-holder mt-2">منتجات بخامات قطن 100%</div>
                        </div>
                    </div>
                    <div class="flex items-center border-r border-gray p-5 gap-2">
                        <img class="w-10 h-10" src="/icons/recikel.png">
                        <div>
                            <div class=" font-bold">منتجات مضمونه</div>
                            <div class="text-brown-holder mt-2">منتجات بخامات قطن 100%</div>
                        </div>
                    </div>
                    <div class="flex items-center border-r border-gray p-5 gap-2">
                        <img class="w-10 h-10" src="/icons/files.png">
                        <div>
                            <div class=" font-bold">منتجات مضمونه</div>
                            <div class="text-brown-holder mt-2">منتجات بخامات قطن 100%</div>
                        </div>
                    </div>
                </div>
{%endmacro%}